<section>
  <div class="content">
    <div class="textBox">
      <h2>Tastte the Feeling</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa dicta dolore dolorem dolores
        expedita explicabo inventore libero magnam magni maiores modi necessitatibus, quia quidem quis, repudiandae
        rerum sed similique unde voluptatibus? Accusamus at aut commodi consequuntur eveniet harum inventore laborum,
        maiores quas quidem quod sequi suscipit, tempora vel voluptatum.</p>
      <a href="#" class="btnMore">Learn More</a>
    </div>

    <div class="imgBox">
      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../../../assets/img/cocacola1.png" alt="coca-cola"></div>
          <div class="swiper-slide"><img src="../../../assets/img/cocacola2.png" alt="coca-cola"></div>
          <div class="swiper-slide"><img src="../../../assets/img/cocacola3.png" alt="coca-cola"></div>
          <div class="swiper-slide"><img src="../../../assets/img/cocacola4.png" alt="coca-cola"></div>
          <div class="swiper-slide"><img src="../../../assets/img/cocacola5.png" alt="coca-cola"></div>
          <div class="swiper-slide"><img src="../../../assets/img/cocacola6.png" alt="coca-cola"></div>
        </div>
        <!-- Add Pagination -->
        <!--        <div class="swiper-pagination"></div>-->
      </div>

    </div>

  </div>
</section>

